* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}


/* HEADER */

nav {
    position: fixed;
    height: 100px;
    width: 100%;
    background-color: rgba(8, 11, 18, .5);
    top: 0;
    left: 0;
}

aside {
    position: fixed;
    height: calc(100vh - 100px);
    width: 50px;
    background-color: #000;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.aside-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

aside .logo {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header i {
    font-size: 30px;
    display: flex;
}

header .logo img {
    color: white;
    font-size: 30px;
    display: none;
}

aside .container-icon-menu a {
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, .3);
    text-decoration: none;
}

aside .container-icon-menu a:focus {
    color: rgba(255, 255, 255, .7);
    border-left: 5px solid green;
}

aside .icon-menu {
    width: 50px;
    display: flex;
    justify-content: center;
}

aside .container-icon-menu span {
    display: none;
}


/* aside bottom */

.aside-bottom .container-icon-menu.download i {
    font-size: 15px;
}


/* MAIN */

main {
    background-color: #141922;
    height: calc(100vh - 100px);
    padding-top: 100px;
    margin-left: 50px;
}


/* FOOTER */

footer {
    position: fixed;
    height: 100px;
    width: 100%;
    background-color: #282828;
    bottom: 0;
    left: 0;
}


/* ----------------------------------------------- */


/* UTILITY */


/* padding */

.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}


/* flex */

.display-none {
    display: none;
}

.container {
    padding: 20px;
    height: 100%;
    background-color: hotpink;
    font-size: 40px;
    overflow-y: auto;
}

@media screen and (min-width: 768px) {
    aside {
        height: calc(100vh - 100px);
        width: 300px;
        align-items: flex-start;
    }
    header .logo {
        justify-content: flex-start;
        height: 100px;
        align-items: center;
    }
    header .logo i {
        display: none;
    }
    header .logo img {
        color: white;
        font-size: 30px;
        display: flex;
        width: 60%;
    }
    aside .aside-top,
    .aside-bottom {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    aside .icon-menu {
        width: 70px;
    }
    aside .container-icon-menu span {
        display: flex;
    }
    /* aside bottom */
    .aside-bottom {
        width: 100%;
    }
    .aside-bottom hr {
        margin-left: 20px;
        margin-right: 20px;
    }
    .aside-bottom .container-icon-menu.download {
        width: 100%;
    }
    .aside-bottom .container-icon-menu.profile a {
        color: rgba(255, 255, 255, 1) !important;
    }
    /* main */
    main {
        background-color: #141922;
        height: calc(100vh - 100px);
        padding-top: 100px;
        margin-left: 300px;
    }
    /* UTILITY-SM */
    /* -------------------------------------- */
    .sm-px-20 {
        padding-left: 20px;
        padding-right: 20px;
    }
    .sm-display-flex {
        display: flex;
    }
}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 1200px) {}