* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}


/* HEADER */

nav {
    position: fixed;
    height: 100px;
    width: 100%;
    background-color: rgba(8, 11, 18, .5);
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
}

.btn-navbar {
    padding: 10px 30px;
    border: 1px solid;
    border-radius: 20px;
}

aside {
    position: fixed;
    height: calc(100vh - 100px);
    width: 50px;
    background-color: #000;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.aside-top {
    display: flex;
    flex-direction: column;
    width: 100%;
}

aside .logo {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

aside .logo img {
    color: white;
    font-size: 30px;
    display: none;
}

aside i {
    font-size: 30px;
    display: flex;
}


/* navigation aside */

aside ul li {
    justify-content: center;
    padding: 5px 0;
}

aside ul li a {
    color: rgba(255, 255, 255, .3);
    display: flex;
    justify-content: center;
    align-items: center;
}

aside ul li a:focus {
    color: rgba(255, 255, 255, .7);
    border-left: 2px solid green;
}

aside ul li a .name-img-aside {
    display: none;
}


/* aside bottom */

aside .install-app,
aside .user {
    display: flex;
    align-items: center;
    justify-content: center;
}

.install-app i {
    font-size: 15px;
}


/* MAIN */

main {
    background-color: #141922;
    height: calc(100vh - 100px);
    padding-top: 100px;
    margin-left: 49px;
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: auto;
}

main .filter ul li a {
    display: flex;
    font-size: 16px;
    padding: 20px;
    color: rgba(255, 255, 255, .3);
    flex-direction: column;
    align-items: center;
}

main .filter ul li a:focus .focus-green {
    height: 2px;
    width: 30%;
    background-color: green;
    margin-top: 2px;
}


/*card track*/

.card-row {
    display: flex;
    flex-direction: column;
}

.container-track {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.track-card {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
}

.img-track img {
    width: 100%;
}

.track-card,
.description-track {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description-track span:first-child {
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
}

.description-track span:nth-child(2) {
    color: #FFFFFF99;
}


/* FOOTER */

footer {
    position: fixed;
    height: 100px;
    width: 100%;
    background-color: #282828;
    bottom: 0;
    left: 0;
}


/* ----------------------------------------------- */


/* UTILITY */


/* padding */

.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.my-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.my-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}


/* flex */

.display-none {
    display: none;
}

.display-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.column {
    flex-direction: column;
}

.container {
    padding: 20px;
    height: 100%;
    font-size: 40px;
    overflow-y: auto;
}


/* color */

.txt-white {
    color: #FFF;
}

.txt-white-a7 {
    color: #FFFFFF99;
}


/* tipography */

.bold {
    font-weight: bold;
}

.txt-size-25 {
    font-size: 25px;
}

@media screen and (min-width: 768px) {
    aside {
        height: calc(100vh - 100px);
        width: 300px;
        align-items: flex-start;
    }
    aside .logo {
        justify-content: flex-start;
        height: 100px;
        align-items: center;
    }
    aside .logo i {
        display: none;
    }
    aside .logo img {
        color: white;
        font-size: 30px;
        display: flex;
        width: 60%;
    }
    /* navigation aside */
    aside ul li a {
        justify-content: flex-start;
        padding: 0 20px;
    }
    aside ul li a .img-aside {
        width: 50px;
    }
    aside ul li a .name-img-aside {
        display: flex;
    }
    /* aside playlist */
    .playlist .img-aside {
        display: none;
    }
    .playlist a:focus .img-aside {
        display: flex;
        justify-content: center;
        color: black;
        border-radius: 2px;
        padding: 8px;
        background-color: rgba(255, 255, 255, .7);
    }
    .playlist a:focus .name-img-aside {
        margin-left: 20px;
    }
    /* aside bottom */
    .aside-bottom {
        width: 100%;
    }
    aside .install-app,
    aside .user {
        justify-content: flex-start;
    }
    aside .install-app {
        border-bottom: 1px solid #FFFFFF99;
    }
    /* main */
    main {
        background-color: #141922;
        height: calc(100vh - 100px);
        padding-top: 100px;
        margin-left: 300px;
    }
    /* UTILITY-SM */
    /* -------------------------------------- */
    /* flex */
    .sm-display-flex {
        display: flex;
    }
    .sm-px-20 {
        padding-left: 20px;
        padding-right: 20px;
    }
    .sm-display-flex {
        display: flex;
    }
    /* margin */
    .ml-20 {
        margin-left: 20px;
    }
}

@media screen and (min-width: 1024px) {
    .track-card {
        width: calc(100% / 4);
    }
}

@media screen and (min-width: 1200px) {
    .track-card {
        width: calc(100% / 6);
    }
}